body{
    background-color: black;
    color: #f1eff0;
    font-size: 30px;
    font-family: 'Times New Roman';
}

.container {
    text-align: center;
    margin-top: 50px;
  }
  
  #display {
    font-size: 3em;
  }
 
  button {
    margin: 10px;
    background-color: #bb4e70;
    font-family: 'Times New Roman';
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1em;
  }

  ul{
    list-style-type: none;
  }
  